{% extends "base.html" %}
{% block title %} Hangman - Guess the word{% endblock %}

{% block content %}

<h1>Hangman - Guess the word</h1>

<div class="row">
  <div class="col-2 mb-3">
    <form
      action="#"
      method="post"
    >

      <label
        for="letter"
        class="m-1"
      >Enter a letter</label>

      <input
        type="text"
        name="letter"
        id="letter"
        class="form-control m-1"
        autocomplete="off"
        maxlength="1"
      >
      <button
        type="submit"
        class="btn btn-primary m-1"
        name="guess"
        {%
        if
        data[5]
        %}disabled{%
        endif
        %}
      >Submit</button>
      <button
        type="submit"
        class="btn btn-primary m-1"
        name="new_word"
      >New word</button>
    </form>
  </div>
  <div class="col-10">
    <h1 class="display-1">

      {% for letter in data[3] %}
      {{letter}}
      {% endfor %}
    </h1>
    {% if data[4] == True %}
    <h2 class="text-danger">You have won</h2>
    {% endif %}

    {% if data[5] == True %}
    <h2 class="text-danger">You have lost</h2>
    <p>The word was {{ data[0] }}</p>
    {% endif %}

    <h3>Incorrect guesses: {{data[1]}}</h3>
    <p>Your guesses: {% for letter in data[2] %}
      {{letter}}
      {% endfor %}
    </p>
    <h4>You can only guess incorrectly 10 times</h3>
  </div>
</div>
{% endblock %}